/* bucket list & travel document */
.custom-border {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card,
.custom-border-doc .list-group-item {
    border: none;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
}

.card-body {
    padding: 1.5rem;
}